@media (max-width: 1248px) {
    body {
        text-align: center;
        font-size: 3vw;
    }
    h3{
        font-size: 6vw;
    }
}
@media (min-width: 1248px) {
    body {
        text-align: center;
        font-size: 1.5vw;
    }
}
.heading {
    padding: 20px;
    background-color: #3e56c9;
    color: white;
}
.table-top {
    font-weight: bold;
}

.content-table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 6vh;
}